{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <main>
        <form method="POST" action="{% url 'edit_page' title %}">
            {% csrf_token %}

            <label for="title_field">Title</label>
            <input id="title_field" type="text" class='form-control' name="title" placeholder="Title" value="{{ title }}">

            <label for="text_field">Content</label>
            <textarea id="text_field" class='form-control' placeholder="Enter markdown contents" name="content">{{ content }}</textarea>
            
            <input id="button" type="submit" value="submit">
        </form>
    </main>



{% endblock %}